header{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #fff;
  align-items: flex-start;
}

.title{
  margin-right: auto;
  color: blue;
}

.menu-item{
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: blue;
}

.item1 {
  width: 600px;
  height: 100px;
  position: relative;
  margin-left: auto;
}

.item1_img {
  margin: 0 0 0 auto;
  display: block;
  width: 100%;
}

.item2 {
  font-size: 50px;
  margin-top: 170px;
}

.item3 {
  width: 1000px;
  height: 150px;
  background: blue;
}